<h1 mat-dialog-title *ngIf="!isEdit">Create user</h1>
<h1 mat-dialog-title *ngIf="isEdit">Edit user</h1>
<div mat-dialog-content>
    <mat-form-field *ngIf="isEdit" appearance="fill">
        <mat-label>Code</mat-label>
        <input matInput disabled="true" [(ngModel)]="data.cod">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="data.name">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Birthday</mat-label>
        <input matInput type="date" [(ngModel)]="data.birthday">
    </mat-form-field>
    <mat-form-field>
        <ngx-mat-file-input [(ngModel)]="photoInFileMode" (change)="onSelectPhoto()">
        </ngx-mat-file-input>
     </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-button [mat-dialog-close]="data" *ngIf="!isEdit" cdkFocusInitial>Create</button>
    <button mat-button [mat-dialog-close]="data" *ngIf="isEdit" cdkFocusInitial>Edit</button>
</div>